[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/test_helper/bats-support"]
	path = test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/test_helper/bats-assert"]
	path = test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "fig_specs"]
	path = fig_specs
	url = https://github.com/withfig/autocomplete.git
[submodule "v86"]
	path = v86
	url = git@github.com:copy/v86.git
